html body {
    background-color: #000;

}

.body-2 {
    margin-left: 2%;
    background-color: #000;

}

/* Mobile */

/* Desk */
.logo {
    width: 98%;
    height: 190px;
    background-color: #000;
    border: 1px solid black;
    animation: mymove 3s infinite;
    margin: 10px;
    display: flex;
}

@keyframes mymove {
    50% {
        border: 3px outset goldenrod;
    }
}

.wow-logo {
    width: 480px;
    height: 190px;
    margin-inline: 30%;
}

.wow-logo img {
    width: 100%;
    height: 100%;
}

.paginas {
    width: 95%;
    height: 50px;
    display: flex;
}

.paginas nav {
    text-align: center;
    padding: 15px;
    margin-left: 8%;
}

.paginas nav a {
    padding-inline: 50px;
    font-size: 22px;
    font-style: oblique;
    text-decoration: none;
}

.paginas nav a:hover {
    text-decoration: underline;
    color: #ffffff;
}

select {
    text-align: center;
    background-color: #000;
    color: #551a8b;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    border: none;
}

.col-100 {
    width: auto;
    height: auto;
}

.slick-list {
    width: 100% !important;
}

.banner {
    width: 99% !important;
    position: relative;
    height: 500px;
    overflow: hidden;
    border-left: 5px solid black;

}

.banner img {
    width: 100%;
    height: 500px;
}

button.slick-prev {
    font-size: 0px;
    border: none;
    background: transparent;
}

button.slick-next {
    font-size: 0px;
    border: none;
    background: transparent;
}

.slick-dots {
    margin: 0 auto;
    width: 11%;
    position: relative;
}

.slick-dots li {
    display: inline-block;
    padding: 6px;
}

.slick-dots li button {
    font-size: 0px;
    border: 4px solid #000;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    cursor: pointer;
    background-color: transparent;
}

li.slick-active button {
    background-color: #000;
}

.move-download {
    display: flex;
    margin-left: 1%;
    margin-top: 2%;
    margin-right: 1%;
    justify-content: space-between;
}

.foto-link {
    width: 300px;
    height: 300px;
    border: 3px solid #d37412;
    border-radius: 20px;
}

.foto-link-1 {
    width: 300px;
    height: 300px;
    border: 3px solid #a8ee12;
    border-radius: 20px;
}

.foto-link-2 {
    width: 300px;
    height: 300px;
    border: 3px solid #2beafc;
    border-radius: 20px;
}

.foto-link-3 {
    width: 300px;
    height: 300px;
    border: 3px solid #624315;
    border-radius: 20px;
}

.quem-somos {
    width: 99%;
    height: 665px;
    background-image: url(../IMG/quem-somos.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 10%;
    margin-left: 5px
}

.quem-somos h1 {
    font-size: 48px;
    font-weight: 500;
    font-style: normal;
    color: #e0aa20;
    text-align: center;
    font-family: fantasy;
    text-decoration: underline;
}

.quem-somos .texto-1 p {
    font-size: 25px;
    font-style: normal;
    color: #551a8b;
    text-align: center;
    font-weight: 700;
    font-family: cursive;
    padding-top: 4%;
}

.quem-somos .texto-2 p {
    font-size: 25px;
    font-style: normal;
    color: #6F0100;
    text-align: center;
    font-weight: 700;
    font-family: cursive;
    padding-top: 4%;
}

.texto {
    width: 100%;
    height: 405px;
    display: flex;
}

.texto-1 {
    height: 400px;
    width: 400px;
    margin-left: 2%;
    padding-right: 35%
}

.texto-2 {
    height: 400px;
    width: 400px;
}

.final-home {
    width: 86%;
    height: 300px;
    background-color: #000;
    display: flex;
    margin-left: 0%;
    padding: 7%;
}

.final-home .tipo-1 {
    width: 300px;
    height: 300px;
    background-color: #000;
    padding-right: 11%;
}

.final-home .tipo-2 {
    width: 300px;
    height: 300px;
    background-color: #000;
    padding-right: 11%;
}

.final-home .tipo-3 {
    width: 300px;
    height: 300px;
    background-color: #000;
}

.final-home .tipo-1 img {
    width: 250px;
    height: 250px;
    border: 4px solid rgb(128, 122, 122);
    border-radius: 10%;
    cursor: pointer;
}

.final-home .tipo-2 img {
    width: 250px;
    height: 250px;
    border: 4px solid rgb(128, 122, 122);
    border-radius: 10%;
    cursor: pointer;
}

.final-home .tipo-3 img {
    width: 250px;
    height: 250px;
    border: 4px solid rgb(128, 122, 122);
    border-radius: 10%;
    cursor: pointer;
}

.final-home .tipo-1 img:hover {
    width: 100%;
    height: 100%;
    border: 4px solid white;
    border-radius: 10%;
}

.final-home .tipo-2 img:hover {
    width: 100%;
    height: 100%;
    border: 4px solid white;
    border-radius: 10%;
}

.final-home .tipo-3 img:hover {
    width: 100%;
    height: 100%;
    border: 4px solid white;
    border-radius: 10%;
}


.final-home .tipo-1 p {
    color: white;
    font-size: 14px;
    font-weight: 500;
    font-family: cursive;
}

.final-home .tipo-2 p {
    color: white;
    font-size: 14px;
    font-weight: 500;
    font-family: cursive;
}

.final-home .tipo-3 p {
    color: white;
    font-size: 14px;
    font-weight: 500;
    font-family: cursive;
}

.rede-sociais ul li {
    margin-left: 13px;
    display: inline-block;

}

.rede-sociais {
    width: 20%;
    float: right;
    padding-top: 11%;
}

.direitos {
    width: 36%;
    height: 200px;
    background-color: #000;
    text-align: center;
    margin-left: 33%;
}

.direitos p {
    color: white;
    padding-top: 14%;
}

/* download */

.logo-2 {
    width: 73%;
    height: 190px;
    background-color: #000;
    border: 1px solid black;
    animation: mymove 10s infinite;
    margin: auto;
    display: flex;
    padding: 3px;
}

.wow-2 {
    width: 1000px;
    height: 192px;
    margin-left: 0%;
}

.wow-2 img {
    width: 100%;
    height: 100%;
}

.baixar h1 {
    text-align: center;
    padding-top: 1%;
    color: #f7f582;
    font-size: 44px;
}

.seçao-1 {
    display: flex;
    margin-left: 10%;
}

.wow-classico {
    width: 400px;
    height: 300px;
    padding-right: 135px;
}

.wow-classico a {
    font-family: cursive;
    background-color: #6F0100;
    padding: 11px 17px;
    border-radius: 25%;
    font-size: 17px;
    text-decoration: none;
    color: #ffffff;
    border: 2px solid goldenrod;
    height: 16px;
    float: right;
}

.wow-classico a:hover {
    text-decoration: underline;
}


.wow-classico p {
    color: white;
    font-size: 15px;
    font-family: cursive;
}

.wow-classico img {
    width: 100%;
    height: 100%;
    border-radius: 3%;
    border: 1px solid #d37412;
}

.wow-burning {
    width: 400px;
    height: 300px;
    padding-left: 135px;
}

.wow-burning a {
    font-family: cursive;
    background-color: #6F0100;
    padding: 11px 17px;
    border-radius: 25%;
    font-size: 17px;
    text-decoration: none;
    color: #ffffff;
    border: 2px solid goldenrod;
    height: 16px;
    float: right;
}

.wow-burning a:hover {
    text-decoration: underline;
}

.wow-burning p {
    color: white;
    font-size: 15px;
    font-family: cursive;
}

.wow-burning img {
    width: 100%;
    height: 100%;
    border-radius: 3%;
    border: 1px solid #a8ee12;
}

.seçao-2 {
    display: flex;
    margin-left: 10%;
}

.wow-lk {
    width: 400px;
    height: 300px;
    padding-right: 135px;
    padding-top: 10%;
}

.wow-lk a {
    font-family: cursive;
    background-color: #6F0100;
    padding: 11px 17px;
    border-radius: 25%;
    font-size: 17px;
    text-decoration: none;
    color: #ffffff;
    border: 2px solid goldenrod;
    height: 16px;
    float: right;
}

.wow-lk a:hover {
    text-decoration: underline;
}


.wow-lk p {
    color: white;
    font-size: 15px;
    font-family: cursive;
}

.wow-lk img {
    width: 100%;
    height: 100%;
    border-radius: 3%;
    border: 1px solid #2beafc;
}

.wow-mop {
    width: 400px;
    height: 300px;
    padding-left: 135px;
    padding-top: 10%;
}

.wow-mop a {
    font-family: cursive;
    background-color: #6F0100;
    padding: 11px 17px;
    border-radius: 25%;
    font-size: 17px;
    text-decoration: none;
    color: #ffffff;
    border: 2px solid goldenrod;
    height: 16px;
    float: right;
}

.wow-mop a:hover {
    text-decoration: underline;
}

.wow-mop p {
    color: white;
    font-size: 15px;
    font-family: cursive;
}

.wow-mop img {
    width: 100%;
    height: 100%;
    border-radius: 3%;
    border: 1px solid #624315
}

.direitos-2 {
    width: 36%;
    height: 200px;
    background-color: #000;
    text-align: center;
    margin-left: 33%;
}

.direitos-2 p {
    color: white;
    padding-top: 32%;
}

/* classe */

.logo-3 {
    width: 98%;
    height: 190px;
    background-color: #000;
    border: 1px solid #000;
    /* animation: mymove 10s infinite; */
    margin: 10px;
    display: flex;
}

.wow-3 {
    width: 33%;
    height: 190px;
    padding-right: 15%;
    margin-left: 2%;
}

.wow-3 img {
    width: 100%;
    height: 100%;
    border-radius: 15%;
}

.wow-4 {
    width: 33%;
    height: 190px;
    padding-left: 15%;
}

.wow-4 img {
    width: 100%;
    height: 100%;
    border-radius: 15%;
}

.spec {
    width: 98%;
    height: 319px;
    background-image: url(../IMG/classes.png);
}

.spec img {
    width: 100%;
    height: 100%;
    border-radius: 1%;
}

.classe-geral {
    display: flex;
    margin-top: 2%;
    flex-direction: row;
    flex-wrap: wrap;
}

.wow-classes {
    width: 632px;
    height: 213px;
    padding-right: 2%;
    margin-left: 2px;
}

.wow-classes img {
    width: 100%;
    height: 100%;
    border: 1px solid white;
}

.geral-classes {
    width: 100%;
    height: auto;
    margin-top: 6%;
}

.h1-classe {
    text-align: center;
    font-family: sans-serif;
    color: #f7f582;
}

.h3-classe {
    text-align: center;
    color: #f7f582;
    font-family: sans-serif;
}

.box {
    width: 100%;
    height: 500px;
    display: flex;
}

.texto-class {
    width: 33%;
    height: auto;
    text-align: center;
}

.imagem-class {
    width: 33%;
    height: auto;
}

.imagem-class img {
    width: 100%;
    height: 100%;
}








/* cadastro */

.banner-3 {
    width: 99% !important;
    position: relative;
    height: 300px;
    overflow: hidden;
    border-left: 5px solid black;

}

.banner-3 img {
    width: 100%;
    height: 300px;
}

.formulario {
    display: flex;
    justify-content: center;
    padding: 23px 47px;
    background: #000;
}

.formulario form {
    background: #000;
    display: flex;
    flex-direction: column;
    width: 400px;
    border: 5px solid #000;
}

.formulario .todos {
    padding: 10px 38px;
}

.formulario .campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

}

.formulario label {
    font-size: 15px;
    text-transform: capitalize;
    font-weight: bolder;
    color: white;
}

.formulario .todos .texto-1 {
    display: flex;
    flex-direction: column;

}

.formulario button {
    background: #ffffff;
    border: 1px solid black;
}

.formulario form h1 {
    text-align: center;
    background: #551a8b;
    color: white;
    margin: 0;
    padding: 8px 0;
    text-transform: uppercase;
}

.formulario .campo input {
    height: 20px;
    margin-top: 7%;
}

#Ogenero {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

.sexo {
    color: #ffffff;
    background-color: #000;
}

h4 {
    color: #ffffff;
    font-size: 18px;
    font-family: cursive;
}

.promocao {
    padding-right: 9%;
    padding-top: 5%;
}

/* Forum */

.respostas {
    display: none;
    margin: 0 10px;
}

.container h2 {
    background-color: #000;
    padding: 10px 0;
    text-align: center;
    font-size: 22px;
    font-family: cursive;
    color: #6F0100;
}

.container h3 {
    background-color: #000;
    padding: 10px 0;
    text-align: center;
    font-size: 22px;
    font-family: cursive;
    color: #ffffff;
}

.thread {
    padding: 10px;
    border: 1px dashed #000;
}

.respostas p {
    font-size: 18px;
    color: #2beafc;
}

textarea {
    width: 100%;
    height: 40px;
    border: 1px solid #000;
}

@media only screen and (max-width: 480px) {
    .paginas nav {
        padding: 0px;
    }

    .banner {
        margin-top: 4%;
        height: 430px;
    }

    .quem-somos {
        padding-bottom: 38%;
    }

    .texto {
        width: 70%;
    }

    .texto-1 {
        padding-right: 2%;
    }

    .final-home {
        margin-left: 0%;
        padding: 2%;
    }

    .final-home .tipo-1 {
        width: 141px;
        height: 100px;
        border: 1px solid rgb(128, 122, 122);
        border-radius: 10%;
    }

    .final-home .tipo-2 {
        width: 141px;
        height: 100px;
        border: 1px solid rgb(128, 122, 122);
        border-radius: 10%;
    }

    .final-home .tipo-3 {
        width: 141px;
        height: 100px;
        border: 1px solid rgb(128, 122, 122);
        border-radius: 10%;
    }
}